<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>&copy; <a href="/contact">Red Wave UK</a>, 2023</p>
      </div>
    </div>


    <div class="social-links">
      
    <ul class="social-media-list">
	<li>
  		<a rel="me" href="/" target="_blank" title="">
    	<svg class="svg-icon grey">
			<use xlink:href="/assets/twitter-big.svg#twitter"></use>
    	</svg>
  		</a>
	</li>
	</ul>
	
    </div>

  </div>

</footer>
